<mat-toolbar color="primary">
    <!-- <div class="container"> -->
        <span>
            <a  mat-button><mat-icon>local_mall</mat-icon>Project</a>
        </span>
        <div>
            <a routerLink="home" mat-button>Home</a>
        </div>
        <div>
            <a routerLink="addproduct" mat-button>Add Product</a>
        </div>
        <div>
            <a routerLink="productlist" mat-button>Products</a>
        </div>
        <div>
            <a routerLink="register" mat-button>Register</a>
        </div>
        <div>
            <a routerLink="login" mat-button>Login</a>
        </div>
    <!-- </div> -->
</mat-toolbar>
